<div class="app-wrapper">
  <section class="banner-section">
    <div class="row align-items-center">
      <div class="col-md-3">
        <div class="logo-badge-wrap text-center">
          <div class="row">
            <div class="col-6 col-md-12 text-start text-md-center">
              <a href="#" class="logo">
                <img src="../assets/images/logo.png" alt="">
              </a>
            </div>
            <div class="col-6 col-md-12 text-end text-md-center">
              <div class="badge-wrap">
                <img src="../assets/images/badge.png" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md">
        <div class="banner-text text-center mb-3 mb-md-0">
          <h1>Από το χωράφι <br />στο ράφι</h1>
        </div>
      </div>
      <div class="col-md-3">
        <div class="banner-wrapper text-center">
          <img src="../assets/images/product-image.png" alt="">
        </div>
      </div>
    </div>
  </section>
  <hr>
  <div class="story text-center mb-3 mb-md-4">
    <h4>Δες την ιστορία της βιολογικής τομάτας "Elpida" που κρατάς στα χέρια σου</h4>
  </div>
  <div class="map-wrap mb-3 mb-md-4">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d13719.387312851588!2d76.69901665!3d30.7227062!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1646113478187!5m2!1sen!2sin"
      allowfullscreen="" loading="lazy"></iframe>
  </div>
  <div class="story-wrap mb-3 mb-md-4">
    <div class="row">
      <div class="col-md col-12">
        <div class="story-inner">
          <div class="img-wrap">
            <img src="../assets/images/icon1.png" alt="">
          </div>
          <div class="title-wrap">
            φύτευση σπόρου
          </div>
          <div class="date-place">
            <div class="date" left-title="Πότε">06/06/2021</div>
            <div class="place" left-title="Πού">φύτευση</div>
          </div>
        </div>
      </div>
      <div class="col-md col-12">
        <div class="story-inner">
          <div class="img-wrap">
            <img src="../assets/images/icon2.png" alt="">
          </div>
          <div class="title-wrap">
            φύτευση σπόρου
          </div>
          <div class="date-place">
            <div class="date">06/06/2021</div>
            <div class="place">φύτευση</div>
          </div>
        </div>
      </div>
      <div class="col-md col-12">
        <div class="story-inner">
          <div class="img-wrap">
            <img src="../assets/images/icon3.png" alt="">
          </div>
          <div class="title-wrap">
            φύτευση σπόρου
          </div>
          <div class="date-place">
            <div class="date">06/06/2021</div>
            <div class="place">φύτευση</div>
          </div>
        </div>
      </div>
      <div class="col-md col-12">
        <div class="story-inner">
          <div class="img-wrap">
            <img src="../assets/images/icon4.png" alt="">
          </div>
          <div class="title-wrap">
            φύτευση σπόρου
          </div>
          <div class="date-place">
            <div class="date">06/06/2021</div>
            <div class="place">φύτευση</div>
          </div>
        </div>
      </div>
      <div class="col-md col-12">
        <div class="story-inner">
          <div class="img-wrap">
            <img src="../assets/images/icon5.png" alt="">
          </div>
          <div class="title-wrap">
            φύτευση σπόρου
          </div>
          <div class="date-place">
            <div class="date">06/06/2021</div>
            <div class="place">φύτευση</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="timeline mb-3 mb-md-4">
    <div class="timeline-list align-items-center row">
      <div class="col-md-4">
        <div class="icon-wrap d-flex align-items-center justify-content-center">
          <img src="../assets/images/icon1.png" alt="">
        </div>
      </div>
      <div class="col-md-4">
        <div class="img-wrap">
          <img src="../assets/images/seeding.jpg" alt="">
        </div>
      </div>
      <div class="col-md-4">
        <div class="text-wrap">
          <h4>ΦΥΤΕΥΤΗΚΕ</h4>
          <div class="when-where">
            <div class="data-wrapper">
              <span class="title">Πότε :</span>
              <span class="data">06/06/2021</span>
            </div>
            <div class="data-wrapper">
              <span class="title">Πού :</span>
              <span class="data">φύτευση</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="timeline-list align-items-center row">
      <div class="col-md-4">
        <div class="icon-wrap d-flex align-items-center justify-content-center">
          <img src="../assets/images/icon2.png" alt="">
        </div>
      </div>
      <div class="col-md-4">
        <div class="img-wrap">
          <img src="../assets/images/step-2.jpg" alt="">
        </div>
      </div>
      <div class="col-md-4">
        <div class="text-wrap">
          <h4>ΦΥΤΕΥΤΗΚΕ</h4>
          <div class="when-where">
            <div class="data-wrapper">
              <span class="title">Πότε :</span>
              <span class="data">06/06/2021</span>
            </div>
            <div class="data-wrapper">
              <span class="title">Πού :</span>
              <span class="data">φύτευση</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="timeline-list align-items-center row">
      <div class="col-md-4">
        <div class="icon-wrap d-flex align-items-center justify-content-center">
          <img src="../assets/images/icon3.png" alt="">
        </div>
      </div>
      <div class="col-md-4">
        <div class="img-wrap">
          <img src="../assets/images/step-3.jpg" alt="">
        </div>
      </div>
      <div class="col-md-4">
        <div class="text-wrap">
          <h4>ΦΥΤΕΥΤΗΚΕ</h4>
          <div class="when-where">
            <div class="data-wrapper">
              <span class="title">Πότε :</span>
              <span class="data">06/06/2021</span>
            </div>
            <div class="data-wrapper">
              <span class="title">Πού :</span>
              <span class="data">φύτευση</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="timeline-list align-items-center row">
      <div class="col-md-4">
        <div class="icon-wrap d-flex align-items-center justify-content-center">
          <img src="../assets/images/icon4.png" alt="">
        </div>
      </div>
      <div class="col-md-4">
        <div class="img-wrap">
          <img src="../assets/images/step-4.jpg" alt="">
        </div>
      </div>
      <div class="col-md-4">
        <div class="text-wrap">
          <h4>ΦΥΤΕΥΤΗΚΕ</h4>
          <div class="when-where">
            <div class="data-wrapper">
              <span class="title">Πότε :</span>
              <span class="data">06/06/2021</span>
            </div>
            <div class="data-wrapper">
              <span class="title">Πού :</span>
              <span class="data">φύτευση</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  <div class="timeline-list align-items-center row">
      <div class="col-md-4">
        <div class="icon-wrap d-flex align-items-center justify-content-center">
          <img src="../assets/images/icon5.png" alt="">
        </div>
      </div>
      <div class="col-md-4">
        <div class="img-wrap">
          <img src="../assets/images/step-5.jpg" alt="">
        </div>
      </div>
      <div class="col-md-4">
        <div class="text-wrap">
          <h4>ΦΥΤΕΥΤΗΚΕ</h4>
          <div class="when-where">
            <div class="data-wrapper">
              <span class="title">Πότε :</span>
              <span class="data">06/06/2021</span>
            </div>
            <div class="data-wrapper">
              <span class="title">Πού :</span>
              <span class="data">φύτευση</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  
    
  </div>
  <div class="terms-top mb-3 mb-md-4">
    <div class="text-wrap">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit doloribus ratione eos alias odit aut nulla
        dolor ipsum eveniet quasi repudiandae in ipsa mollitia adipisci atque, iste amet nam veritatis?</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit doloribus ratione eos alias odit aut nulla
        dolor ipsum eveniet quasi repudiandae in ipsa mollitia adipisci atque, iste amet nam veritatis?</p>
    </div>
  </div>
  <div class="footer-text-wrap">
    <div class="top-text">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit doloribus ratione eos alias odit aut nulla
        dolor ipsum eveniet </p>
    </div>
    <ul class="social d-block d-sm-flex justify-content-center">
      <li>
        <a href="https://www.instagram.com/ktima_gi_mas/" target="_blank" rel="noopener noreferrer" class="insta">
          @ktima_gi_mas
        </a>
      </li>
      <li>
        <a href="https://www.sarantisestate.gr/" target="_blank" rel="noopener noreferrer" class="web">
          https://www.sarantisestate.gr/
        </a>
      </li>
    </ul>
  </div>
  <hr>
  <div class="footer-copyright text-center">
    <p>Powered by <img src="../assets/images/agritract-logo.png" alt=""></p>
  </div>
</div>