/* You can add global styles to this file, and also import other style files */
@import "https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap";
body {
	font-family: 'Roboto', sans-serif;
	background: #f4f6e8;
	font-size: 15px;
}
div {
	&:empty {
		display: none !important;
	}
}
span {
	&:empty {
		display: none !important;
	}
}
img {
	max-width: 100%;
}
.app-wrapper {
	max-width: 780px;
	padding: 0 15px;
	margin: auto;
	.story {
		h4 {
			margin: 0;
			color: #288c3f;
			font-size: 30px;
		}
	}
	.story-wrap {
		background: #288c3f;
		padding: 20px;
		border-radius: 5px;
		.story-inner {
			text-align: center;
			.title-wrap {
				background-color: transparent;
				border: 1px solid #f4efe5;
				font-size: 13px;
				font-weight: 400;
				color: #fff;
				padding: 7px 0px;
				margin: 0 0 10px 0;
				position: relative;
			}
			.img-wrap {
				margin-bottom: 10px;
				img {
					max-height: 28px;
				}
			}
		}
		div[class*="col"] {
			&:not(:last-of-type) {
				.story-inner {
					.title-wrap {
						&::after {
							content: "";
							width: 16px;
							height: 15px;
							background-image: url(./assets/images/right-arrow.png);
							background-repeat: no-repeat;
							background-size: contain;
							position: absolute;
							right: -22px;
							top: 50%;
							transform: translateY(-50%);
						}
					}
				}
			}
		}
		.date {
			background-color: #f4efe5;
			padding: 6px 6px;
			display: inline-block;
			font-weight: 500;
			margin: 0 0 7px 0;
			font-size: 14px;
			width: 87px;
		}
		[left-title] {
			position: relative;
			&::before {
				content: attr(left-title);
				position: absolute;
				left: -39px;
				color: #fff;
				font-size: 14px;
				font-weight: 400;
			}
		}
		.date-place {
			text-align: right;
			.place {
				background-color: #f4efe5;
				margin-left: auto;
				padding: 6px 6px;
				display: inline-block;
				width: 87px;
				text-align: center;
				font-size: 14px;
			}
		}
	}
}
.banner-section {
	background-image: url(./assets/images/banner.jpg);
	background-size: 100% auto;
	background-repeat: no-repeat;
	padding: 40px 0 10px;
	.logo-badge-wrap {
		.logo {
			margin: 0 0 30px;
			display: inline-block;
			img {
				width: 140px;
			}
		}
	}
	.banner-text {
		h1 {
			display: inline;
			background: #288c3f;
			line-height: 1.4;
			padding: 0px 10px;
			color: #fff;
			font-weight: 400;
		}
	}
}
hr {
	border: 1px solid #288c3f;
	opacity: 1;
	margin: 30px 0;
}
.map-wrap {
	.map-frame {
		width: 100%;
		height: 300px;
		vertical-align: middle;
		box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2);
		border-radius: 5px;
	}
}
.timeline {
	padding: 20px;
	background: #fff;
	border-radius: 5px;
	.timeline-list {
		&:not(:last-of-type) {
			margin-bottom: 20px;
			.icon-wrap {
				&::after {
					position: absolute;
					width: 35px;
					height: 60px;
					content: '';
					background-image: url(./assets/images/down-arrow.png);
					background-position: center;
					background-size: contain;
					bottom: -85%;
					background-repeat: no-repeat;
				}
			}
		}
		.icon-wrap {
			width: 80px;
			height: 80px;
			border-radius: 50%;
			background-color: #288c3f;
			margin: auto;
			position: relative;
		}
		.img-wrap {
			padding-bottom: 64%;
			position: relative;
			border: 1px solid #288c3f;
			background: #288c3f;
			img {
				position: absolute;
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
		.text-wrap {
			h4 {
				color: #288c3f;
				font-weight: 400;
				font-size: 22px;
			}
			.when-where {
				.data-wrapper {
					display: flex;
					align-items: center;
					&:not(:last-of-type) {
						margin-bottom: 6px;
					}
					span {
						color: #2c2e35;
					}
					.title {
						width: 65px;
						display: block;
					}
					.data {
						width: 100px;
						border: 0.75px solid #288c3f;
						display: block;
						text-align: center;
					}
					&:first-of-type {
						.data {
							font-weight: 500;
						}
					}
				}
			}
		}
	}
}
.footer-copyright {
	margin-bottom: 20px;
	p {
		margin: 0;
		color: #2c2e35;
		font-size: 14px;
	}
	img {
		vertical-align: bottom;
		margin-left: 5px;
	}
}
.footer-text-wrap {
	background: #288c3f;
	padding: 20px;
	text-align: center;
	border-radius: 5px;
	.top-text {
		color: #fff;
	}
	ul.social {
		margin: 0;
		padding: 0;
		color: #fff;
		list-style-type: none;
		li {
			a {
				color: #fff;
				text-decoration: none;
				padding: 10px 10px 10px 40px;
				background-repeat: no-repeat;
				background-position: left center;
				background-size: 30px;
				display: inline-block;
			}
			a.insta {
				background-image: url(./assets/images/insta.png);
			}
			a.web {
				background-image: url(./assets/images/web.png);
			}
			+ {
				li {
					margin-left: 50px;
				}
			}
		}
	}
}
.terms-top {
	padding: 20px;
	background: #fff;
	border-radius: 5px;
	p {
		&:last-of-type {
			margin-bottom: 0;
		}
	}
}
.banner-wrapper {
	.icon-wrap {
		margin-bottom: 25px;
		img {
			max-height: 90px;
		}
		.logo {
			margin-right: 15px;
		}
	}
	.text-wrap {
		.text-inner {
			h1 {
				font-size: 50px;
				font-weight: 600;
				color: #288c3f;
				margin-bottom: 20px;
			}
			h4 {
				margin: 0;
				font-size: 23px;
				strong {
					color: #288c3f;
				}
			}
		}
	}
}
@media (max-width: 767.98px) {
	.banner-wrapper {
		.text-wrap {
			.text-inner {
				h1 {
					font-size: 30px;
				}
			}
		}
		.icon-wrap {
			margin-bottom: 10px;
		}
	}
	.timeline {
		.timeline-list {
			.text-wrap {
				.when-where {
					.data-wrapper {
						justify-content: center;
					}
				}
				text-align: center;
			}
			&:not(:last-of-type) {
				margin-bottom: 80px;
				position: relative;
				.icon-wrap {
					&::after {
						display: none;
					}
				}
				&::after {
					position: absolute;
					width: 25px;
					height: 40px;
					content: "";
					background-image: url(./assets/images/down-arrow.png);
					background-position: center;
					background-size: contain;
					bottom: -60px;
					background-repeat: no-repeat;
					left: 50%;
					transform: translateX(-50%);
				}
			}
			.icon-wrap {
				margin-bottom: 10px;
			}
			.img-wrap {
				margin-bottom: 10px;
			}
		}
	}
	.banner-section {
		.badge-wrap {
			img {
				max-height: 90px;
			}
		}
		.logo-badge-wrap {
			.logo {
				img {
					width: 90px;
				}
			}
		}
		.banner-wrapper {
			img {
				max-height: 80px;
			}
		}
		.qr-wrapper {
			img {
				max-height: 180px;
			}
		}
		padding: 20px 0 0px;
	}
	.app-wrapper {
		.story-wrap {
			div[class*=col] {
				&:not(:last-of-type) {
					.story-inner {
						margin-bottom: 40px;
						position: relative;
						.title-wrap {
							&::after {
								display: none;
							}
						}
						&::after {
							position: absolute;
							width: 14px;
							height: 19px;
							content: '';
							background-image: url(./assets/images/down-arrow-white.png);
							background-position: center;
							background-size: contain;
							left: 50%;
							background-repeat: no-repeat;
							transform: translateX(-50%);
							bottom: -29px;
						}
					}
				}
			}
			.date {
				display: block;
				width: 100%;
				text-align: center;
				width: calc(50% - 5px);
				margin: 0 0 0px 0;
				font-size: 13px;
				line-height: 1.7;
			}
			.date-place {
				.place {
					display: block;
					width: 100%;
					text-align: center;
					width: calc(50% - 5px);
					margin: 0 0 0px 0;
					font-size: 13px;
					line-height: 1.7;
				}
				text-align: right;
				display: flex;
				justify-content: space-around;
				width: 60%;
			}
			[left-title] {
				&::before {
					display: none;
				}
			}
			.story-inner {
				.title-wrap {
					width: 40%;
					margin-right: 2px;
				}
			}
			display: none;
		}
	}
	hr {
		margin: 20px 0;
	}
}
@media (max-width: 575.98px) {
	.app-wrapper {
		.story-wrap {
			div[class*=col] {
				&:not(:last-of-type) {
					.story-inner {
						margin-bottom: 25px;
						&::after {
							bottom: -18px;
						}
					}
				}
			}
		}
		.story {
			h4 {
				margin: 0;
				color: #288c3f;
				font-size: 25px;
			}
		}
	}
	.footer-text-wrap {
		ul.social {
			li {
				+ {
					li {
						margin: 0;
					}
				}
				a {
					padding: 5px 5px 5px 40px;
				}
			}
		}
	}
}
@media (max-width: 374.98px) {
	.app-wrapper {
		padding: 0 10px;
		.story-wrap {
			padding: 8px;
		}
	}
}
